@import "tailwindcss";
.font-ovo {
  font-family: 'Ovo', serif;
}
/* Light mode (default) */
:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark theme override */
body.dark {
  --bg-color: #2c2c2c;
  --text-color: white;
}
